<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>
    <add key="connectionString" value="Data Source=(local)\SQLEXPRESS;User Id=newsletter;Password=newsletter;Initial Catalog=newsletter;Integrated Security=True"/>
  </appSettings>
</configuration>